<header class="d-flex justify-content-between p-3">
  <button {{action "hide"}} type="button" name="button">Hide</button>
  <span>When</span>
  <button {{action "hide"}} type="button">Reset</button>
</header>
{{yield}}
