{{#modal-sheet as |sheet|}}
  {{sheet.header
    label="When"
    hide=(action 'hide')
    reset=(action 'reset') }}

  {{#sheet.body}}
    {{datepicker-input
      rental=booking.rental
      range=booking.range
      hide=(action 'updateRange')}}
  {{/sheet.body}}

  {{#sheet.footer}}
    <button
      {{action 'save'}} 
      type="button"
      class="btn-lg btn-marketing">Update</button>
  {{/sheet.footer}}
{{/modal-sheet}}
