{{#if hasBlock}}
  {{yield (hash
    title=(component 'call-out-title')
    subtitle=(component 'call-out-subtitle'))}}
{{else}}
  <h1 class="title">{{title}}</h1>
  <p class="subtitle">{{subtitle}}</p>
{{/if}}
