{{#modal-sheet as |sheet|}}
  {{sheet.header label="How much" hide=(action 'hide') reset=(action 'reset') }}

  {{#sheet.body}}
    <span style="font-size: 120px">👹</span>
  {{/sheet.body}}
{{/modal-sheet}}
