{{#link-to "index" class="navbar-brand"}}LOGO{{/link-to}}
<ul class="navbar-nav">
  <li>{{#link-to 'search'}}Search{{/link-to}}</li>
  <li>{{#link-to 'rentals'}}Rentals{{/link-to}}</li>
  <li>{{#link-to 'bookings'}}Bookings{{/link-to}}</li>
</ul>
