<section class="hero">
  <div class="row">
    <div class="col-md-12 col-lg-7">
      <h1 class="title">BookSync (Bookings)</h1>
      <p class="subtitle">Did someone else already book a timeslot you wanted? Just delete it. 😃</p>
    </div>
  </div>
</section>
