{{#if show}}
  {{to-elsewhere
      named="small-screen-popup"
      send=(component smallScreenPopup hide=(action 'showPopup')) }}
{{/if}}

<div class="search-form">
  <div class="form-item search-divider w-75 hidden-sm-down">
    <div class="form-group hidden-lg-up">
      <button {{action 'showPopup' 'rental-input'}} type="button">What</button>
    </div>
    <div class="form-group hidden-md-down">
      <label for="what">What</label>
      {{type-ahead}}
    </div>
  </div>
  <div class="form-item search-divider w-75 hidden-sm-down">
    <div class="form-group hidden-lg-up">
      <button type="button" name="button">When</button>
    </div>
    <div class="form-group hidden-md-down">
      <label for="when">When</label>
      <input type="text" class="form-control" id="when" aria-describedby="When" placeholder="Anytime">
    </div>
  </div>
  <div class="form-item w-50 hidden-sm-down">
    <div class="form-group hidden-lg-up">
      <button type="button" name="button">How much</button>
    </div>
    <div class="form-group hidden-md-down">
      <label for="when">How much</label>
      <input type="text" class="form-control" id="how-much" aria-describedby="HowMuch" placeholder="Any price">
    </div>
  </div>
  <div class="form-item w-0 p-1 hidden-sm-down">
    <input type="submit" class="btn btn-marketing btn-lg" value="Search">
  </div>
  <div class="form-item w-0 p-1 hidden-md-up">
    <button type="button" name="button">What</button>
  </div>
</div>
