<header class="d-flex justify-content-between p-3">
  <button {{action "hide"}} type="button" name="button">Hide</button>
</header>

<section class="d-flex flex-column w-100 p-3 justify-content-start">
  <button {{action 'what'}} type="button" class="mb-1 text-left">What</button>
  <button {{action 'when'}} type="button" class="mb-1 text-left">When</button>
  <button {{action 'howMuch'}} type="button" class="mb-1 text-left">How much</button>
</section>
