{{#modal-sheet as |sheet|}}
  {{sheet.header label="What" hide=(action 'hide') reset=(action 'reset') }}

  {{#sheet.body as |body|}}
    <div class="p-3 w-100">
      {{typeahead-input
        selected=rental
        onselected=(action 'hide')
        destination="destination"
        calculatePosition=calculatePosition}}

      <div id="destination" class="destination"></div>
    </div>
  {{/sheet.body}}
{{/modal-sheet}}
