{{#power-select-typeahead
    search=(perform searchTask)
    onchange=(action 'updateSelected')
    extra=(hash labelPath="name")
    selected=selected
    placeholder="Anything"
    destination=destination
    calculatePosition=calculatePosition
    as |rental|}}
    <p>{{rental.name}}</p>
    <span>{{currency rental.dailyRate '$'}}</span>
{{/power-select-typeahead}}
