/* slide-from-top */
.slide-from-top-enter {
  transform: translateY(-1000px);
}
.slide-from-top-enter.slide-from-top-enter-active {
  transform: translateY(0);
  transition: transform .25s ease-out;
}
.slide-from-top-leave {
  transform: translateY(0);
}
.slide-from-top-leave.slide-from-top-leave-active {
  transform: translateY(-1000px);
  transition: transform .25s ease-in;
}


.slide-from-bottom-enter {
  transform: translateY(1000px);
}
.slide-from-bottom-enter.slide-from-bottom-enter-active {
  transform: translateY(0);
  transition: transform .25s ease-out;
}
.slide-from-bottom-leave {
  transform: translateY(0);
}
.slide-from-bottom-leave.slide-from-bottom-leave-active {
  transform: translateY(1000px);
  transition: transform .25s ease-in;
}
