
@keyframes go-down {
  0% {
    // height: 0vh;
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(250px);
    // height: 50vh;
  }
}

@keyframes go-up {
  0% {
    // height: 50vh;
    transform: translateY(250px);
  }
  100% {
    transform: translateY(-250px);
    // height: 0vh;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fade-in 200ms cubic-bezier(.4,.42,.53,.91) 1;
}

.fade-out {
  animation: fade-out 200ms cubic-bezier(.4,.42,.53,.91) 1;
}

.go-down {
  animation: go-down 300ms cubic-bezier(.4,.42,.53,.91) 1;
}

.go-up {
  animation: go-up 300ms cubic-bezier(.4,.42,.53,.91) 1;
}

@keyframes slider-up {
  0% {
    height: 0vh;
  }
  100% {
    height: 100vh;
  }
}

@keyframes slider-down {
  0% {
    height: 100vh;
  }
  100% {
    height: 0vh;
  }
}

.slider-up {
  animation: slider-up 200ms cubic-bezier(.4,.42,.53,.91) 1;
}

.slider-down {
  animation: slider-down 200ms cubic-bezier(.4,.42,.53,.91) 1;
}
