@import "bootstrap";

@import 'ember-power-select';
@import 'ember-power-select-typeahead';
@import 'ember-power-calendar';

$marketing: darken(#F29490, 10%);
$copy: #484848;
$gray: #DBDBDB;

nav {
  a {
    color: $marketing;
  }
}

.hero {
  @extend .container;
  .title {
    margin-top: 3rem;
    font-weight: bold;
    color: $marketing;
  }
  .subtitle {
    font-size: 1.25rem;
    font-weight: 300;
    color: $copy;
  }
}

.search {
  margin-top: 3rem;

  @extend .container;

  .search-form {
    border: 1px solid $gray;
    border-radius: 4px;

    @extend .justify-content-between;
    @extend .d-flex;
    @extend .align-items-center;
  }

  .form-item {
    @extend .px-3;
    @extend .pt-2;

    .form-group {
      margin-bottom: 0;
    }

    label {
      color: #484848;
      margin-bottom: 0;
    }

    input[type="text"], input[type="search"] {
      padding-left: 0;
      border: none;
      font-size: 1.25rem;
      color: #484848;
      &:focus {
        border: none;
      }
    }
  }
}

.search-divider {
  border-right: 1px solid $gray;
}

.btn-marketing {
  cursor: pointer;
  background-color: $marketing;
  border-color: $marketing;

  @extend .btn-warning;

  &:hover, &:active {
    background-color: darken($marketing, 5%);
    border-color: darken($marketing, 5%);
  }

  &:focus {
    box-shadow: 0 0 0 2px lighten($marketing, 5%);
  }
}

.btn-toggle-dropdown {
  background: none;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  svg {
    display: inline-block;
    fill: currentcolor;
    height: 18px;
    width: 18px;
    padding-top: 5px;
  }
}

.btn-toggle-popup {
  @extend .btn;
  @extend .btn-warning;

  cursor: pointer;
  background-color: white;
  border-color: $gray;
  color: $copy;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.15) !important;

  &:hover, &:active {
    background-color: darken($marketing, 5%);
    border-color: darken($marketing, 5%);
  }

  &:focus {
    box-shadow: 0 0 0 2px lighten($gray, 5%);
  }
}

.modal-toggle {
  button {
    background: none;
    border: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  svg {
    display: inline-block;
    fill: currentcolor;
    height: 18px;
    width: 18px;
    padding-top: 5px;
  }
}

.btn-naked {
  background: none;
  border: none;
  cursor: pointer;
}

// Typeahead
.sex-on {
  min-height: 2.55em;
}

.the-beach {
  border: 1px solid $gray;

  .ember-power-select-option {
    padding: .5rem;
    p {
      margin-bottom: 0;
      font-weight: normal;
      font-size: 1.15rem;
      color: $copy;
    }
    span {
      font-weight: lighter;
      color: lighten($copy, 25%);
    }
  }

  .ember-power-select-option[aria-current="true"] {
    background-color: #CCEEEB;
  }
}

.drop-down {
  background: white;
  width: 100vw;
  height: 50vh;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;
  border: 1px solid $gray;
  box-shadow: 0 0 2px 0px rgba(22, 22, 22, 0.2) !important;
}
.drop-down-inner {
  @extend .d-flex;
  @extend .flex-column;

  section {
    @extend .d-flex;
    @extend .flex-column;
    @extend .w-100;
    @extend .p-3;
    @extend .justify-content-start;

    svg, span {
      display: inline-block;
      fill: currentcolor;
      height: 18px;
      width: 18px;
      padding-top: 5px;
    }
  }
}

.cover {
  background: white;
  height: 100vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2000;
}
.cover {
  input {
    border: 1px solid $gray;
    border-radius: 4px;
  }
  div[aria-expanded="true"] > input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.cover-inner {
  @extend .d-flex;
  @extend .flex-column;
  height: 100vh;
}
.cover-blankslate {
  background-color: purple;
}

.destination > div {
  border-top: 2px solid purple;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.destination {
  ul {
    min-height: 20rem;
  }
}

// The calendar
.calendar-big {
  @include ember-power-calendar($cell-size: 40px);
  box-shadow: 0 2px 6px rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.07);

  .ember-power-calendar-nav {
    button {
      border: 1px solid $gray;
      margin: .25rem;
      border-radius: 4px;
      &:focus {
        outline: none;
      }
      svg {
        height: 19px;
        width: 19px;
        fill: darken($gray, 15%);
      }
    }
  }

  .ember-power-calendar-nav-title {
    // margin-top: 1rem;
    font-weight: bold;
    font-size: 1.25rem;
  }

  .ember-power-calendar-week {
    color: #757575;
    padding: 0;
    border: none;
    margin: 0;
  }

  .ember-power-calendar-weekdays {
    color: #757575;
  }

  .ember-power-calendar-day--current-month {
    background-color: white;
  }

  .ember-power-calendar-day--selected {
    background-color: darken(white, 20%);
  }
}

@keyframes go-down {
  0% {
    height: 0vh;
  }
  100% {
    height: 50vh;
  }
}

@keyframes go-up {
  0% {
    height: 50vh;
  }
  100% {
    height: 0vh;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fade-in 200ms cubic-bezier(.4,.42,.53,.91) 1;
}

.fade-out {
  animation: fade-out 200ms cubic-bezier(.4,.42,.53,.91) 1;
}

.go-down {
  animation: go-down 300ms cubic-bezier(.4,.42,.53,.91) 1;
}

.go-up {
  animation: go-up 300ms cubic-bezier(.4,.42,.53,.91) 1;
}

@keyframes slider-up {
  0% {
    height: 0vh;
  }
  100% {
    height: 100vh;
  }
}

@keyframes slider-down {
  0% {
    height: 100vh;
  }
  100% {
    height: 0vh;
  }
}

.slider-up {
  animation: slider-up 200ms cubic-bezier(.4,.42,.53,.91) 1;
}

.slider-down {
  animation: slider-down 200ms cubic-bezier(.4,.42,.53,.91) 1;
}
