html {
  color: $copy;
}

// Remove click delay across all platforms
[data-ember-action], a, button, input, .link {
  cursor: pointer;
}

.horizontal-scroll {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch; // iOS fix
}


.base-screen {
  @extend .d-flex;
  @extend .flex-row;
  @extend .align-items-stretch;
}

.large-screen {
  @extend .base-screen;
  @extend .hidden-md-down;
}

.medium-screen {
  @extend .base-screen;
  @extend .hidden-lg-up;
  @extend .hidden-xs-down;
}

.small-screen {
  @extend .base-screen;
  @extend .hidden-sm-up;
}
