.booking-form {
  border: 1px solid $gray;
  border-radius: 4px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.booking-form-group {
  @extend .px-2;
  @extend .py-2;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  border-right: 1px solid $gray;
  margin-bottom: 0;

  label {
    color: $copy;
    margin-bottom: 0;
  }

  .faux-input {
    @extend .form-control;
  }

  input[type="text"],
  input[type="search"],
  input[type="number"],
  .faux-input {
    padding-left: 0;
    border: none;
    font-size: 1.25rem;
    color: $copy;
    &:focus {
      border: none;
    }
  }

  &:nth-child(3) {
    border-right: none;
  }

  .ember-power-select-trigger {
    min-height: 2.55em;
  }
}

.large-screen,
.medium-screen {

  .booking-form-group {

    &:last-child {
      @extend .d-flex;
      @extend .justify-content-center;

      flex-grow: 0;

      border-right: none;
    }
  }
}

.medium-screen {
  .booking-form-group {
    @extend .d-flex;
  }
}
