// The calendar
.calendar-lg {
  @include ember-power-calendar($cell-size: 50px);
}

.calendar-md {
  @include ember-power-calendar($cell-size: 35px);
}

.calendar {
  box-shadow: 0 2px 6px rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.07);

  .ember-power-calendar-nav {
    button {
      border: 1px solid $gray;
      margin: .25rem;
      border-radius: 4px;
      &:focus {
        outline: none;
      }
      svg {
        height: 19px;
        width: 19px;
        fill: darken($gray, 15%);
      }
    }
  }

  .ember-power-calendar-nav-title {
    font-weight: bold;
    font-size: 1.25rem;
  }

  .ember-power-calendar-week {
    color: #757575;
    padding: 0;
    border: none;
    margin: 0;
  }

  .ember-power-calendar-weekdays {
    color: #757575;
  }

  .ember-power-calendar-day--current-month {
    background-color: white;
  }

  .ember-power-calendar-day--selected {
    background-color: #B2F1EC;
    color: #007A87;
    font-weight: normal;
  }

  .ember-power-calendar-day--selected:not([disabled]):hover {
    background-color: #B2F1EC;
    color: white;
    font-weight: normal;
  }

  .ember-power-calendar-day--selected.ember-power-calendar-day--range-start {
    background-color: #00A699;
    color: white;
    font-weight: normal;
    &:hover {
      background-color: #00A699;
    }
  }

  .ember-power-calendar-day--selected.ember-power-calendar-day--range-end {
    background-color: #00A699;
    color: white;
    font-weight: normal;
  }
}

/**
  * iPhone 6, 6s, 7
  */
@media all and (device-width: 375px) and (device-height: 667px) {
  .calendar-lg {
    @include ember-power-calendar($cell-size: 40px);
  }

  .calendar-md {
    @include ember-power-calendar($cell-size: 25px);
  }
}
