{{#call-out as |header|}}
  {{header.title text="BookSync (Rentals)"}}
  {{header.subtitle text="Let someone sleep in your bed in return for money. 😇"}}
{{/call-out}}

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      {{rental-form}}
    </div>
  </div>
</div>
