{{#nav-bar}}
  {{#link-to 'host'}}I'm a host{{/link-to}}
{{/nav-bar}}

<section class="hero">
  <div class="row">
    <div class="col-md-12 col-lg-7">
      <h1 class="title">BookSync</h1>
      <p class="subtitle">Book a unique home and live like a local when you're on the go.</p>
    </div>
  </div>
</section>

{{search-form}}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h5 style="margin-top:5rem">Rentals</h5>
    </div>
  </div>

  <div class="row">
    <div class="d-flex flex-row flex-nowrap" style="overflow: scroll;">
      {{#each model as |rental|}}
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card h-75">
            <img class="card-img-top img-fluid" src="{{rental.imgUrl}}" alt="" style="height: 75%; width: 100%;">
            <div class="card-block">
              <p class="card-text">
                <strong>${{rental.dailyRate}}</strong> {{rental.name}}
              </p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>


</div>
