{{#nav-bar}}
  {{#link-to 'host'}}I'm a host{{/link-to}}
{{/nav-bar}}

<section class="hero">
  <div class="row">
    <div class="col-md-12 col-lg-7">
      <h1 class="title">BookSync</h1>
      <p class="subtitle">Book a unique home and live like a local when you're on the go.</p>
    </div>
  </div>
</section>

<form class="search">
  <div class="search-form">
    <div class="form-item search-divider w-75">
      What
    </div>
    <div class="form-item search-divider w-75">
      When
    </div>
    <div class="form-item w-50">
      How much
    </div>
    <div class="form-item w-0">
      <input type="submit" class="btn btn-marketing" value="Search">
    </div>
  </div>
</form>
