{{#nav-bar}}
  {{#link-to 'host'}}I'm a host{{/link-to}}
{{/nav-bar}}

<section class="hero">
  <div class="row">
    <div class="col-md-12 col-lg-7">
      <h1 class="title">BookSync</h1>
      <p class="subtitle">Book a unique home and live like a local when you're on the go.</p>
    </div>
  </div>
</section>

<form class="search">
  <div class="search-form">
    <div class="form-item search-divider w-75">
      <div class="form-group">
        <label for="what">What</label>
        <input type="text" class="form-control" id="what" aria-describedby="What" placeholder="Anything">
      </div>
    </div>
    <div class="form-item search-divider w-75">
      <div class="form-group">
        <label for="when">When</label>
        <input type="text" class="form-control" id="when" aria-describedby="When" placeholder="Anytime">
      </div>
    </div>
    <div class="form-item w-50">
      <div class="form-group">
        <label for="when">How much</label>
        <input type="text" class="form-control" id="how-much" aria-describedby="HowMuch" placeholder="Any price">
      </div>
    </div>
    <div class="form-item w-0">
      <input type="submit" class="btn btn-marketing btn-lg" value="Search">
    </div>
  </div>
</form>
