{{#call-out as |header|}}
  {{header.title text="BookSync"}}
  {{header.subtitle text="Book a unique home and live like a local when you're on the go."}}
{{/call-out}}

{{search-form}}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h5 style="margin-top:5rem">Rentals</h5>
    </div>
  </div>

  <div class="row">
    <div class="d-flex flex-row flex-nowrap horizontal-scroll w-100">
      {{#each model as |rental|}}
        {{rental-card rental=rental}}
      {{/each}}
    </div>
  </div>
</div>
