{{#nav-bar}}
  {{#link-to 'host'}}I'm a host{{/link-to}}
{{/nav-bar}}

<section class="hero">
  <div class="row">
    <div class="col-md-12 col-lg-7">
      <h1 class="title">BookSync</h1>
      <p class="subtitle">Book a unique home and live like a local when you're on the go.</p>
    </div>
  </div>
</section>

{{search-form}}
